{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h2>Page d'accueil</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea impedit iste, quos rem sint voluptates.
            Accusantium ad aliquid amet aperiam autem cupiditate debitis ducimus, ea enim eveniet facere in molestias
            neque nesciunt pariatur praesentium quaerat, quas quasi quia quidem quo rem rerum sed similique suscipit
            tempora ullam, unde! Aspernatur cupiditate laboriosam quaerat ratione! Assumenda consequatur nostrum
            obcaecati quas quod tempora voluptate voluptates voluptatibus. Ab amet aperiam blanditiis consequatur earum
            eius eligendi eos est facilis fuga illum ipsa maiores maxime perspiciatis quos, sequi, sint tenetur totam
            vel veritatis, vero vitae voluptate. Accusamus id in nulla obcaecati possimus provident quia rerum sit.
        </p>
    </div>
{% endblock %}
